@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* RESET */

*{
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;
}
h1 {
    font-size: 36px;
    text-transform: uppercase;
    color: #dca456;
    padding: 10px;
    text-align: center;
}
h2 {
    color: #dca456;
    text-transform: uppercase;
    padding: 5px;
    font-size: 32;
}
h3 {
    color: #422936;
}
p {
    color: #422936;
    padding: 10px;
}

header{
    background-color: #ffe4c2;
    display: flex;
    justify-content: center;
}
nav {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 10vh;
    background-color: #ffe4c2

}

a {
    text-decoration: none;
    color: #dca456;
}
a:hover {
    color:  #422936;
    border-radius: 15px;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-size: cover;
    background-color: #dca456;
}

ul {
    padding: 3px 50px;
}

/************** HEADER ****************/

.logo {
    padding: 0px 10px;
    width: 150px;
}

.nav-list {
    display: none;
    list-style: none;
}
.nav-list li {
    letter-spacing: 1px;
    margin-left: 15px;
}

.mobile-menu {
    display: none;
    color: #422936;
    cursor: pointer;
}

main {
    min-height: 100vh;
}

/************** FOOTER ****************/
footer {
    position: relative;
    width: 100%;
    display: block;
    align-items: center;
    align-content: center;
    padding-top: 100px;
    padding-bottom: 10px;
    background-color: #422936;
}
.site-map {
    font-size: small;
    text-transform: uppercase;
    align-items: center;
}
.site-map ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
.site-map ul li {
    padding: 5px;
}

.footer-logo{
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.copyright {
    color: #dca456;
    text-align: center;
    font-size: smaller;
}





.banner {
    display: flex;
    position: relative;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
.img-banner {
    width: 100%;
    height: auto;
}

.description {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
.description p {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    width: 800px;
}

.banner-links {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.button-gp {
    width: 200px;
}



footer {
    padding-bottom: 10px;
}
.site-map ul {
    font-size: 14px;
}
.site-map ul li:hover {
    color: #ffe4c2;
}
.m-logo {
    width: 100px;
}
.copyright {
    font-size: 14px;
}

/* Responsive Desktop */

.main-container {
    display: flex;
    justify-content: center;
    background-color: #ffe4c2;
}
.container {
    max-width: 1000px;
}


@media(max-width: 500px){
    body {
        height: 100%;
    }
    .description {
        padding-left: 20px;
        padding-right: 20px;
        color: #422936;
        font-size: 12px;
    }
    .description p {
        font-size: 14px;
        width: 800px;
    }
    .button-gp {
        width: 100px;
    }
    /*----- Footer -----*/
    footer {
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .site-map ul {
        font-size: 12px;
    }
    .site-map ul li:hover {
        color: #ffe4c2;
    }
    .m-logo {
        width: 80px;
    }
    .copyright {
        font-size: 12px;
    }
}

/* Mobile */

@media(max-width: 300px){
    .description {
        color: #422936;
        font-size: 10px;
    }
    .button-gp {
        width: 100px;
    }



    /*----- Footer -----*/
    footer {
        padding-bottom: 10px;
    }
    .site-map ul {
        font-size: 10px;
    }
    .site-map ul li:hover {
        color: #ffe4c2;
    }
    .m-logo {
        width: 50px;
    }
    .copyright {
        font-size: 10px;
    }
}