@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: Adelle Sans;
    src: url(assets/font/adellesans/AdelleSansBasic-Regular.ttf);
}

@font-face {
    font-family: 'Metric';
    src: url('assets/font/metric/MetricBold.woff2');
    font-weight: bold;
}

/* RESET */

*{
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;
}
small {
    font-size: max(12px, 1vw);
    font-family: Adelle Sans;
    font-style: normal;
}
h1 {
    font-size: 36px;
    text-transform: uppercase;
    color: #dca456;
    padding: 1vw;
    text-align: center;
}
h2 {
    color: #dca456;
    text-transform: uppercase;
    padding: 0.8vw;
    font-size: 32;
}
h3 {
    color: #422936;
}
p {
    color: #422936;
    font-size: max(16px, 1.5vw);
    padding: 0.3vw;
}
p {
    font-size: max(16px, 2vw);
}

header{
    background-color: #ffe4c2;
    display: flex;
    justify-content: center;
}
nav {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 10vh;
    padding: 0vh 2vh;
    background-color: transparent

}

a {
    text-decoration: none;
    color: #dca456;
}
a:hover {
    color:  #422936;
    border-radius: 15px;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-size: cover;
    background-color: #ffe4c2;
}

/************** HEADER ****************/

.logo {
    min-width: 30vw;
    max-height: 8vh;
    width: 100%;
    width: min(250px, 1vh);
}

.nav-list {
    display: none;
    list-style: none;
}
.nav-list li {
    letter-spacing: 1px;
    margin-left: 15px;
}

.mobile-menu {
    display: none;
    color: #422936;
    cursor: pointer;
}

main {
    padding-bottom: 5vh;
    background-color: #dca456;
}

/************** FOOTER ****************/
footer {
    position: relative;
    width: 100%;
    min-width: 300px;
    display: block;
    align-items: center;
    align-content: center;
    padding-top: 100px;
    padding-bottom: 10px;
    background-color: #422936;
}

/* ===================================== SITEMAP ===================================== */
.site-map {
    margin-top: 1vw;
    margin-bottom: 1vw;
    font-family: 'Metric';
    font-weight: bold;
    text-transform: uppercase;
    align-items: center;
}
.site-map ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
.site-map ul li {
    font-size: max(12px, 1.3vw);
    color: #dca456;
    text-shadow: #0000008a 2px 3px 2px;
    padding-left: .5rem;
    padding-right: .5rem;
}
.site-map ul li a:hover {
    text-shadow: none;
    color: #ffe4c2;
}
/* ===================================== SITEMAP ===================================== */

.footer-logo{
    margin-top: 2vw;
    margin-bottom: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* ==================================== COPIRIGHT ==================================== */
.copyright {
    margin-top: 2vw;
    margin-bottom: 2vw;
    padding: 0;
    color: #ffe4c26b;
    text-align: center;
}
/* ==================================== COPIRIGHT ==================================== */




.banner {
    display: flex;
    position: relative;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
.img-banner {
    width: 100%;
    height: auto;
}

.description {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 2vw;
}
.description p {
    padding-left: 20px;
    padding-right: 20px;
    width: 800px;
}

.banner-links {
    position: relative;
    display: flex;
    justify-content: center;
}
.button-gp {
    width: max(250px, 2vw);
}



.site-map ul {
    font-size: 14px;
}
.site-map ul li:hover {
    color: #ffe4c2;
}
.m-logo {
    width: 100px;
}


/* Responsive Desktop */

.main-container {
    display: flex;
    justify-content: center;
    background-color: #ffe4c2;
}
.container {
    max-width: 1000px;
}
.social-media {
    margin-top: 2vw;
    margin-bottom: 2vw;
    cursor: pointer;
    letter-spacing: 25px;
    color: #dca456;
    display: flex;
    justify-content: center;
    font-size: min(100px, 20vw);
}
.social-media i:hover {
    color: #ffe4c2;
}

@media(max-width: 500px) {
    .site-map ul {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}