@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* RESET */

*{
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: #ffe4c2

}

a {
    text-decoration: none;
    color: #dca456;
}
a:hover {
    color:  #422936;
    border-radius: 15px;
}

body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-color: #dca456;
}

/************** HEADER ****************/

.logo {
    width: 150px;
}

.nav-list {
    display: flex;
    list-style: none;
}
.nav-list li {
    letter-spacing: 1px;
    margin-left: 15px;
}

.mobile-menu {
    display: none;
    color: #422936;
    cursor: pointer;
}

main {
    min-height: 100vh;
    height: auto;
}

/************** FOOTER ****************/
footer {
    position: relative;
    width: 100%;
    display: block;
    align-items: center;
    align-content: center;
    padding-top: 100px;
    padding-bottom: 10px;
    background-color: #422936;
}
.site-map {
    font-size: small;
    text-transform: uppercase;
    align-items: center;
}
.site-map ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
.site-map ul li {
    padding: 5px;
}

.footer-logo{
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.copyright {
    color: #dca456;
    text-align: center;
    font-size: smaller;
}





.banner {
    display: flex;
    position: relative;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
.img-banner {
    width: 100%;
    height: auto;
}

.description {
    margin: 10px 50px;
}

.banner-links {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0px 100px;
}
.button-gp {
    width: 200px;
}



/* Responsive Desktop */

@media(max-width: 500px){
    /*----- Main-----*/
    main {
        min-height: auto;
        padding-bottom: 50px;
    }
    .description {
        color: #422936;
        font-size: 12px;
    }
    .button-gp {
        width: 100px;
    }
    /*----- Footer -----*/
    footer {
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .site-map ul {
        font-size: 12px;
    }
    .site-map ul li:hover {
        color: #ffe4c2;
    }
    .m-logo {
        width: 80px;
    }
    .copyright {
        font-size: 12px;
    }
}

/* Mobile */

@media(max-width: 300px){
    /*----- Main-----*/
    main {
        min-height: auto;
        padding-bottom: 50px;
    }
    .description {
        color: #422936;
        font-size: 10px;
    }
    .button-gp {
        width: 100px;
    }



    /*----- Footer -----*/
    footer {
        padding-bottom: 10px;
    }
    .site-map ul {
        font-size: 10px;
    }
    .site-map ul li:hover {
        color: #ffe4c2;
    }
    .m-logo {
        width: 50px;
    }
    .copyright {
        font-size: 10px;
    }
}