@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* RESET */

*{
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    background-color: #422936;
}

a {
    text-decoration: none;
    color: #dca456;
}
a:hover {
    color:  #dca456;
    background-color: #422936;
    padding: 5px;
    border-radius: 15px;
}

body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    background-size: cover;
    background-color: #dca456;
}

.logo {
    width: 150px;
}



.banner {
    display: flex;
    position: relative;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: auto;
}
.img-banner {
    width: 100%;
}

.description {
    margin: 10px 50px;
}

.banner-links {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0px 100px;
}
.button-gp {
    width: 200px;
}


.media-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transition: 0.3s;
    transition-property: transform;

}
.media-icons a {
    position: relative;
    color: white;
    font-size: 25px;
}
.media-icons a:not(:last-child) {
    margin-right: 60px;
}
.media-icons a:hover {
    transform: scale(1.5);
}

label {
    display: none;
}
#check{
    z-index: 3;
}

/* Responsive Desktop */

@media (max-width: 180px){
    .logo {
        height: 50px;
    }
}

@media (max-width: 960px){
    header .navigation{
        display: none;
    }
    label {
        display: block;
        font-size: 20px;
        cursor: pointer;
    }
    label:hover {
        color: black;
    }
    label .close-btn{
        display: none;
    }
    #check:checked ~ header .navigation{
        z-index: 2;
        position: fixed;
        background: rgb(114, 223, 255, 0.9);
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
    }
}